#titulo {
  text-align: center;
  margin: 25px auto 5px auto;
  font-size: 50px;
}
#titulo h1 {
  font-size: 30pt;
}
#titulo p {
  text-align: center;
  color: rgb(155, 155, 155);
  font-size: 15pt;
  font-weight: normal;
  margin: 10px auto 10px auto;
}
#container_posts {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.caixa_post:first-child {
  min-width: 98%;
}
.caixa_post {
  flex: 1 1 0;
  margin: 0 1%;
  margin-bottom: 20px;
}
.caixa_post img {
  width: 100%;
}
#container_posts {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.titulo_post {
  margin-bottom: 10px;
  font-size: 25px;
}
.titulo_post a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}
.titulo_post a:hover {
  color: rgb(107, 107, 107);
}
.desc_post {
  color: rgb(87, 87, 87);
  padding: 0 10px 5px 10px;
}
.link_tag {
  margin-left: 10px;
  color: rgb(160, 160, 160);
}

/*MOBILE*/
@media (max-width: 930px) {
  #container_posts {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
  }
}