/*CONFIG_GERAL*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; /*Usa tamanho do caixa, tira o padding e margin que vem por padrão*/
  font-family: Arial, Helvetica, sans-serif;
}
html {
  min-height: 100vh;
  position: relative;
}

/*BARRA_NAVEGACAO*/
#logo {
  position: absolute;
  margin-top: 10px;
  margin-left: 9.5%;
}
#logo img {
  width: 50px;
}
#bar_nav {
  display: flex;
  align-items: center; /*Alinha a coluna no começo, centro ou final, usando start, center ou end*/
  justify-content: center; /*Alinha a linha no começo, centro ou final, usando start, center ou end*/
  padding: 20px;
  background-color: rgb(34, 34, 34);
  text-transform: uppercase; /*Deixa em letras maiusculas*/
  list-style: none; /*Tira a decoração da lista, como hifen ou ponto do inicio*/
}
#bar_nav li {
  margin: 0 10px; /*Separa as linhas aplicando 0px para cima e baixo, e aplica 10px dos lados*/
  padding: 5px;
}
#bar_nav a {
  color: white;
  text-decoration: none; /*Tira o sublinhado*/
  transition: 0.3s; /*Aplica transição de 5 segundo para usar no hover abaixo*/
  font-size: 12pt;
}
#bar_nav a:hover {
  color: rgb(202, 202, 202);
}
/*---------------------------------------------------*/
/*CORPO*/
main{
  margin-bottom: 250px;
}
#titulo h1 {
  text-align: center;
  font-size: 30pt;
  margin: 25px auto 5px auto;
}
#titulo p {
  text-align: center;
  color: rgb(155, 155, 155);
  font-size: 15pt;
  font-weight: normal;
  margin: 10px auto 10px auto;
}
/*---------------------------------------------------*/
/*RODAPE*/
footer {
  width: 100%;
  position: absolute;
  margin-bottom: 0;
  background-color: rgb(34, 34, 34);
  padding: 50px 0;
  color: white;
  font-size: 10pt;
  text-align: center;
}
/*---------------------------------------------------*/