* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*Usa tamanho do caixa, tira o padding e margin que vem por padrão*/
    font-family: Arial, Helvetica, sans-serif;
  }
  html {
    min-height: 100vh;
    position: relative;
  }
  main {
    margin-bottom: 250px;
  }